@keyframes appearKey {
  0% {
    background-color: rgb(225, 225, 225);
    color: rgb(225, 225, 225);
    box-shadow: none;
  }
  20% {
    background-color: rgb(225, 225, 225);
    color: rgb(225, 225, 225);
    box-shadow: none;
  }
}

.animateKey {
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: appearKey;
  cursor: pointer;
}
