.CalcPageContainer {
  /* display: inline-block; */
  width: 100%;
  padding: 20px;
}

.CalcPageContainer .Col {
  padding-bottom: 40px;
}

.ulCalcPage {
  margin-top: 20px;
  padding-left: 0px;
  list-style: none;
}
